<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:config.properties</value>
				<value>classpath:cas.properties</value>
			</list>
		</property>
	</bean>
	<!-- JNDI DataSource for J2EE environments -->
    <!--
    	<jee:jndi-lookup id="dataSource_recommend" jndi-name="java:comp/env/jdbc/recommend"/>
    	<jee:jndi-lookup id="dataSource_poms" jndi-name="java:comp/env/jdbc/poms"/>
    -->
    
    <!-- tomcat/conf/context.xml配置 -->
    <!-- 
		<Resource name="jdbc/recommend" auth="Container"
        	factory="org.apache.naming.factory.BeanFactory" type="com.mchange.v2.c3p0.ComboPooledDataSource"
      		driverClass="oracle.jdbc.OracleDriver"
       		jdbcUrl="jdbc:oracle:thin:@172.16.8.73:1521:oms"
       		user="OMS_RCMD" password="OMS_RCMD_2o1o"
         	maxPoolSize="50" minPoolSize="1" initialPoolSize="5" acquireIncrement="5"
            maxIdleTime="300" maxStatements="200" maxStatementsPerConnection="200"
        	idleConnectionTestPeriod="120" preferredTestQuery="select sysdate from dual"
		/>
		<Resource name="jdbc/poms" auth="Container"
        	factory="org.apache.naming.factory.BeanFactory" type="com.mchange.v2.c3p0.ComboPooledDataSource"
      		driverClass="oracle.jdbc.OracleDriver"
       		jdbcUrl="jdbc:oracle:thin:@172.16.8.73:1521:oms"
       		user="OMS_SOURCE" password="OMS_SOURCE_2o1o"
         	maxPoolSize="50" minPoolSize="1" initialPoolSize="5" acquireIncrement="5"
            maxIdleTime="300" maxStatements="200" maxStatementsPerConnection="200"
        	idleConnectionTestPeriod="120" preferredTestQuery="select sysdate from dual"
		/>
     -->
    <!--
	<bean id="dataSource_recommend" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName">
            <value>java:comp/env/jdbc/recommend</value>
        </property>
    </bean>
    <bean id="dataSource_poms" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName">
            <value>java:comp/env/jdbc/poms</value>
        </property>
    </bean>
    -->
	<bean id="dataSource_recommend" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url.recommend}"/>
        <property name="user" value="${jdbc.username.recommend}"/>
        <property name="password" value="${jdbc.password.recommend}"/>
        <property name="maxPoolSize" value="100"/>
        <property name="maxIdleTime" value="300"/>
        <property name="checkoutTimeout" value="2000"/>
        <property name="minPoolSize" value="1"/>
        <property name="initialPoolSize" value="5"/>
        <property name="acquireIncrement" value="5"/>
        <property name="maxStatements" value="200"/>
        <property name="maxStatementsPerConnection" value="200"/>
        <property name="idleConnectionTestPeriod" value="120"/>
	    <property name="preferredTestQuery" value="select sysdate from dual"/>
    </bean>
    
    <bean id="dataSource_poms" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url.poms}"/>
        <property name="user" value="${jdbc.username.poms}"/>
        <property name="password" value="${jdbc.password.poms}"/>
        <property name="maxPoolSize" value="100"/>
        <property name="maxIdleTime" value="300"/>
        <property name="checkoutTimeout" value="2000"/>
        <property name="minPoolSize" value="1"/>
        <property name="initialPoolSize" value="5"/>
        <property name="acquireIncrement" value="5"/>
        <property name="maxStatements" value="200"/>
        <property name="maxStatementsPerConnection" value="200"/>
        <property name="idleConnectionTestPeriod" value="120"/>
	    <property name="preferredTestQuery" value="select sysdate from dual"/>
    </bean>
</beans>